@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400&family=Source+Code+Pro&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-300 ease-in-out;
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.responsive-image {
  width: 60px; /* Default width for small screens */
  height: 60px; /* Default height for small screens */
}

/* Media query for large screens (adjust as needed) */
@media screen and (min-width: 768px) {
  .responsive-image {
    width: 64px; /* Width for large screens */
    height: 64px; /* Height for large screens */
  }
}

.fade-in-text {
  opacity: 0;
  animation: fadein 500ms ease-in-out forwards;
}

.fade-in-nav {
  opacity: 0;
  animation: fadein 1s ease-in-out forwards;
}

@keyframes fadein {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-text:nth-child(2) {
  animation-delay: 300ms; /* Adjust delay as needed */
}

.fade-in-text:nth-child(3) {
  animation-delay: 600ms; /* Adjust delay as needed */
}
